<% form_for(@comment) do |f| %>
  <%  header_message = "DOH! Unable to create new comment until the following problems are fixed:" %>
  <%= f.error_messages({:message=>nil, :header_message=>header_message}) %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :comment %><br />
    <%= f.text_area :comment, :rows => 5 %>
  </p>
  <%= f.hidden_field :parent_id %>
  <%= f.hidden_field :node_id %>
  <input type="hidden" value="<%= @redirect_back %>" id="redirect_back" name="redirect_back" />

  <p>
  <script type="text/javascript">
    var RecaptchaOptions = {
      theme : '<%=RECAPTCHA_THEME%>'
     };
  </script>
  <script type="text/javascript"
     src="http://www.google.com/recaptcha/api/challenge?k=<%=RECAPTCHA_PUBLIC_KEY%>">
  </script>
  <noscript>
     <iframe src="http://www.google.com/recaptcha/api/noscript?k=<%=RECAPTCHA_PUBLIC_KEY%>"
         height="300" width="500" frameborder="0"></iframe><br>
     <textarea name="recaptcha_challenge_field" rows="3" cols="40">
     </textarea>
     <input type="hidden" name="recaptcha_response_field"
         value="manual_challenge">
  </noscript>
  </p>

  <p>
    <%= f.submit 'submit' %>
  </p>

<% end %>
