<% if logged_in? %>
<%= link_to 'Edit', edit_node_path(@node) %> |
<% end %>
<%= render(:partial => "nodes/node", :object => @node) %>

<ul id="comments_container">
<h2 id="comments_header">Comments</h2>
  <% @node.comments.each do |comment| %>
  <li id="comment-<%= comment.id %>" class="comment">
    <div class="comment_author"><%= comment.username %></div>
    <div class="comment_body"><%= comment.comment %></div>
  </li>
<% end %>
</ul>
<% if @comment %>
<%= render(:partial => "comments/new_comment", :object => @comment) %>
<% end %>
<% if logged_in? %>
<%= link_to 'Edit', edit_node_path(@node) %> |
<% end %>
