<p>
  <b>Name:</b>
  <%=h @node.name %>
</p>

<p>
  <b>Git repo:</b>
  <%=h @node.git_repo_id %>
</p>

<p>
  <b>Git repo path:</b>
  <%=h @node.git_repo_path %>
</p>

<p>
  <b>Published on:</b>
  <%=h @node.publish_date %>
</p>


<%= link_to 'Edit', edit_node_path(@node) %> |
<%= link_to 'Back', nodes_path %>
