<% if logged_in? %>
<%= link_to 'Edit', edit_node_path(@node) %> |
<% end %>
<%= render(:partial => "nodes/node", :object => @node) %>


<h2 id="comments_header">Comments</h2>
  <% @node.comments.each do |comment| %>
  <div id="comment-<%= comment.id %>" class="comment-container">
    <div class="comment-top"><span></span></div>
    <div class="comment-content">
      <!-- CONTENT BEGIN -->
      <div class="comment-author"><%= comment.username %>, Commented <%= time_ago_in_words(Time.now) %> ago</div>
      <div class="comment-body"><%= comment.comment %></div>
      <!-- CONTENT END -->
    </div>
    <div class="comment-bottom"><span></span></div>
  </div>
<% end %>

<% if @comment %>
<%= render(:partial => "comments/new_comment", :object => @comment) %>
<% end %>
<% if logged_in? %>
<%= link_to 'Edit', edit_node_path(@node) %> |
<% end %>
