<% if flash[:notice] %>
<div class="notice"><%= flash[:notice] %></div>
<% end %>

<% if logged_in? %>

<p> You are currently logged in as <%= current_user.email %> </p>
<a href="/logout">Logout</a>

<% else %>

<h3>Login</h3>
<% form_tag('/login')  do -%>
<p>
<%= label_tag "Email" %>
<%= text_field_tag 'Email' %>
</p>
<p>
<%= label_tag "Password" %>
<%= password_field_tag 'Password' %>
</p>
<p>
<%= submit_tag "Login" %>
</p>
<% end -%>

<% end %>

