<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>Upgrading Dave</title>
    <%=stylesheet_link_tag 'blueprint/screen.css', :media => "screen, projection" %>
    <%=stylesheet_link_tag 'blueprint/print.css', :media => "print" %>
    <!--[if lt IE 8]>
	<%=stylesheet_link_tag 'blueprint/ie.css', :media => "screen, projection" %>
	<![endif]-->
    <%=stylesheet_link_tag 'blueprint-custom.css', :media => "screen, projection" %>
    <%=stylesheet_link_tag 'syntaxhighlighter_3.0.83/shCore.css' %>
    <%=stylesheet_link_tag 'syntaxhighlighter_3.0.83/shThemeMidnight.css' %>
    <%=javascript_include_tag 'jquery-1.3.2.min.js'%>
    <%=javascript_include_tag 'http://www.google.com/recaptcha/api/js/recaptcha_ajax.js' %>
    <%=javascript_include_tag 'syntaxhighlighter_3.0.83/shCore.js' %>
    <%=javascript_include_tag 'syntaxhighlighter_3.0.83/shAutoloader.js' %>
    <%=javascript_include_tag 'blueprint/myblog-custom.js' %>
    <% if INCLUDE_GOOGLE_ANALYTICS %>
    <%=javascript_include_tag 'google-analytics.js' %>
    <% end %>
  </head>
  <body>
	<% if logged_in? %>
	<div id="search">
	  <form method="GET" action="/search">
	    <%= text_field_tag("search", "Search" , {:size => 15}) %>
	    <%= submit_tag("Go") %>
	  </form>
	</div>
        <% end %>
    <div id="squeeze" class="container squeeze">
      <div id="content" class="span-12">
	<% if flash[:notice] %>
	<div id="notice" class="img-text"><img src="/images/error.png"/><div><%=flash[:notice] %></div></div>
	<% end %>
	<%= yield %>
      </div>
      <div id="sidebar" class="span-4 last">
	  <a href="/rss" title="Subscribe to RSS"><img alt="Subscribe to RSS" width="50px" src="/images/rss.png"></a>
	  <br/><br/>
          <h4 class="home ir"><%= link_to "<span>Home</span>", :controller => "home", :action =>"index" %></h4>
          <h4 class="about ir"><a href="/about"><span>About</span></a></h4>
	  <% if @previous_node %>
          <h4 class="previous ir"><%= link_to "<span>Previous Post</span>", @previous_node.friendly_path %></h4>
	  <% end %>
	  <% if @next_node %>
          <h4 class="next ir"><%= link_to "<span>Next Post</span>", @next_node.friendly_path %></h4>
	  <% end %>
	  <% if logged_in? %>
	  <ul id="main-nav">
	    <li><%= link_to 'Manage Posts', nodes_path %>
	    <li><%= link_to "Manage Peeps", :controller => "people" %> 
	    <li><%= link_to "Logout", :controller => "login", :action =>"logout" %> 

	    <!-- 	  <li><a href="#">All Posts</a> -->
	  </ul>
	  <% end %>
      </div>
    </div>
      <div id="footer" class="squeeze">
	<a href="/about">About</a> | 
	<a href="/login">Login</a> | 
	Copyright <%= Time.new.year %>, Dave Paroulek
      </div>
  </body>
</html>
