<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>Upgrading Dave</title>
    <%=stylesheet_link_tag 'blueprint/screen.css', :media => "screen, projection" %>
    <%=stylesheet_link_tag 'blueprint/print.css', :media => "print" %>
    <!--[if lt IE 8]>
	<%=stylesheet_link_tag 'blueprint/ie.css', :media => "screen, projection" %>
	<![endif]-->
    <%=stylesheet_link_tag 'blueprint-custom.css', :media => "screen, projection" %>
    <%=javascript_include_tag 'http://www.google.com/recaptcha/api/js/recaptcha_ajax.js' %>
    <%=javascript_include_tag 'blueprint/myblog-custom.js' %>
    <% if INCLUDE_GOOGLE_ANALYTICS %>
    <%=javascript_include_tag 'google-analytics.js' %>
    <% end %>
  </head>
  <body>
	<% if logged_in? %>
	<div id="search">
	  <form method="GET" action="/search">
	    <%= text_field_tag("search", "Search" , {:size => 15}) %>
	    <%= submit_tag("Go") %>
	  </form>
	</div>
        <% end %>
    <div id="squeeze" class="container">
      <div id="content" class="span-12">
	<% if flash[:notice] %>
	<div id="notice" class="img-text"><img src="/images/error.png"/><div><%=flash[:notice] %></div></div>
	<% end %>
	<%= yield %>
      </div>
      <div id="sidebar" class="span-4 last">
<!-- 	<h1 id="logo">Upgrading Dave</h1> -->
	<ul id="main-nav">
	  <li><%= link_to "Home", :controller => "home", :action =>"index" %>
          <li><a href="/about">About</a>
	  <% if logged_in? %>
	  <li><a href="/git_repos">Files</a>
          <li><%= link_to 'Manage Posts', nodes_path %>
	  <li><%= link_to "Manage Peeps", :controller => "people" %> 
	  <li><%= link_to "Logout", :controller => "login", :action =>"logout" %> 
	  <% end %>
	  <% if !logged_in? %>
	  <li><%= link_to "Login", :controller => "login", :action =>"login" %>
	  <% end %>
	  <% if @previous_node %>
	  <li><%= link_to "Previous Post", @previous_node %>
	  <% end %>
	  <% if @next_node %>
	  <li><%= link_to "Next Post", @next_node %>
	  <% end %>
<!-- 	  <li><a href="#">All Posts</a> -->
	</ul>
      </div>

    </div>
    <div id="footer">
          <li><a href="/about">About</a> | 
	  Copyright <%= Time.new.year %>, Dave Paroulek
    </div>
  </body>
</html>
