<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>SiteName</title>
    <%=stylesheet_link_tag 'simple'%>
  </head>
  <body>
    <div class="header">
      <!--       <div class="logo">SiteName</div> -->
      <div class="navigation">
	<% if logged_in? %>
	<a href="/git_repos">communities</a> |
	<% end %>
	<% if logged_in? %>
	<%= link_to "logout", :controller => "login", :action =>"logout" %> 
	<% end %>
	<% if !logged_in? %>
	<%= link_to "login", :controller => "login", :action =>"login" %> |
	<%= link_to "signup", :controller => "people", :action =>"new" %>
	<% end %>
      </div>
    </div>
<% if flash[:notice] %>
<div class="notice"><%= flash[:notice] %></div>
<% end %>
    <div id="content">
      <%= yield %>
    </div>
  </body>
</html>
