<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>Upgrading Dave</title>
    <%=stylesheet_link_tag 'simple'%>
  </head>
  <body>
    <div id="main">
      <div id="header" class="left-margin">
	<div class="logo">Upgrading Dave</div>
     </div>
     <div id="content" class="left-margin">
       <div class="navigation">
	<%= link_to "home", :controller => "home", :action =>"index" %> |
	<% if logged_in? %>
	<a href="/git_repos">files</a> |
	<%= link_to "logout", :controller => "login", :action =>"logout" %> 
	<% end %>
	<% if !logged_in? %>
	<%= link_to "login", :controller => "login", :action =>"login" %> |
	<%= link_to "signup", :controller => "people", :action =>"new" %>
	<% end %>
       </div>
        <% if flash[:notice] %>
	<div id="notice"><img src="/images/error.png"/><div><%=flash[:notice] %></div></div>
        <% end %>
        <%= yield %>
     </div>
   </div>
 </body>
</html>
